workflow/assistant-candidatures-ia.json
{
  "name": "Assistant Candidatures par Email — Version IA",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0001-0001-0001-000000000001",
      "name": "Nouveau Email",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [240, 340],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prépare le contenu brut de l'email pour l'analyse IA\nconst subject = $input.item.json.subject || '';\nconst body = $input.item.json.text || $input.item.json.snippet || '';\nconst from = $input.item.json.from || '';\n\n// Nettoyage basique du HTML\nconst texteNettoye = body\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&[a-zA-Z]+;/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// Date\nconst dateFormatee = new Date().toLocaleString('fr-FR', {\n  year: 'numeric', month: '2-digit', day: '2-digit',\n  hour: '2-digit', minute: '2-digit'\n});\n\nreturn {\n  json: {\n    ...$input.item.json,\n    emailBrut: `De: ${from}\\nSujet: ${subject}\\n\\n${texteNettoye.substring(0, 800)}`,\n    sujet: subject,\n    expediteur: from,\n    dateFormatee\n  }\n};"
      },
      "id": "b2c3d4e5-0001-0001-0001-000000000002",
      "name": "Preparer Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 340]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Tu es un assistant RH intelligent. Analyse l'email fourni et retourne UNIQUEMENT un JSON valide (sans markdown) avec exactement ces champs:\n{\n  \"estCandidature\": boolean,\n  \"nomCandidat\": string,\n  \"typePoste\": string (ex: 'Stage', 'CDI', 'Alternance', 'Inconnu'),\n  \"competencesCles\": string (liste courte ou vide),\n  \"reponsePersonnalisee\": string (HTML d'une réponse professionnelle et chaleureuse si candidature, sinon réponse générique)\n}"
            },
            {
              "role": "user",
              "content": "={{ $json.emailBrut }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "b2c3d4e5-0001-0001-0001-000000000003",
      "name": "Analyser avec IA",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [680, 340],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse la réponse JSON de l'IA\nconst rawResponse = $input.item.json.message?.content || '{}';\n\nlet analyse;\ntry {\n  // Nettoyer d'éventuels blocs markdown\n  const cleaned = rawResponse.replace(/```json\\n?|```/g, '').trim();\n  analyse = JSON.parse(cleaned);\n} catch(e) {\n  // Fallback si le JSON est mal formé\n  analyse = {\n    estCandidature: false,\n    nomCandidat: 'Candidat',\n    typePoste: 'Inconnu',\n    competencesCles: '',\n    reponsePersonnalisee: '<p>Merci pour votre message. Notre équipe reviendra vers vous rapidement.</p>'\n  };\n}\n\nreturn {\n  json: {\n    ...$('Preparer Email').item.json,\n    ...analyse,\n    analyseIA: rawResponse\n  }\n};"
      },
      "id": "b2c3d4e5-0001-0001-0001-000000000004",
      "name": "Parser Reponse IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-ia-candidature",
              "leftValue": "={{ $json.estCandidature }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0001-0001-0001-000000000005",
      "name": "Est une Candidature",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 340]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REMPLACER_PAR_VOTRE_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Candidatures",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.dateFormatee }}",
            "Nom": "={{ $json.nomCandidat }}",
            "Email": "={{ $json.emailCandidat }}",
            "Sujet": "={{ $json.sujet }}",
            "Type de poste": "={{ $json.typePoste }}",
            "Competences": "={{ $json.competencesCles }}",
            "Statut": "Nouveau — Analyse IA",
            "Email envoye": "Non"
          }
        },
        "options": {}
      },
      "id": "b2c3d4e5-0001-0001-0001-000000000006",
      "name": "Enregistrer dans Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1340, 180],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.emailCandidat }}",
        "subject": "=Candidature reçue — {{ $json.sujet }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background: #f9f9f9;\">\n  <div style=\"background: white; border-radius: 10px; overflow: hidden; box-shadow: 0 2px 10px rgba(0,0,0,0.1);\">\n    <div style=\"background: linear-gradient(135deg, #6200ea, #3700b3); color: white; padding: 28px 24px;\">\n      <h1 style=\"margin: 0; font-size: 22px;\">✅ Candidature bien reçue</h1>\n      <p style=\"margin: 8px 0 0; opacity: 0.85; font-size: 14px;\">Réponse personnalisée par IA</p>\n    </div>\n    <div style=\"padding: 28px 24px;\">\n      {{ $json.reponsePersonnalisee }}\n      <div style=\"margin-top: 32px; padding-top: 20px; border-top: 1px solid #eee;\">\n        <p style=\"color: #999; font-size: 12px; margin: 0;\"><em>Ce message a été généré et envoyé automatiquement par notre assistant RH.</em></p>\n      </div>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "b2c3d4e5-0001-0001-0001-000000000007",
      "name": "Reponse IA Candidat",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1560, 180],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "webhookUri": "REMPLACER_PAR_VOTRE_WEBHOOK_DISCORD",
        "text": "=🤖 **Nouvelle candidature analysée par IA !**\n\n👤 **Candidat :** {{ $json.nomCandidat }}\n✉️ **Email :** {{ $json.emailCandidat }}\n📝 **Objet :** {{ $json.sujet }}\n💼 **Type de poste :** {{ $json.typePoste }}\n🔑 **Compétences clés :** {{ $json.competencesCles || 'Non précisées' }}\n🕒 **Reçu le :** {{ $json.dateFormatee }}\n\n📊 ✅ Enregistré dans Google Sheets\n📧 ✅ Réponse personnalisée envoyée (IA)"
      },
      "id": "b2c3d4e5-0001-0001-0001-000000000008",
      "name": "Notifier Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [1780, 180]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.emailCandidat }}",
        "subject": "=Accusé de réception — {{ $json.sujet }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"background: white; border-radius: 10px; border: 1px solid #ddd; padding: 24px;\">\n    {{ $json.reponsePersonnalisee }}\n    <p style=\"color: #999; font-size: 12px; margin-top: 20px;\"><em>Message envoyé automatiquement.</em></p>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "b2c3d4e5-0001-0001-0001-000000000009",
      "name": "Reponse Autre",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1340, 520],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Nouveau Email": {
      "main": [
        [
          {
            "node": "Preparer Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparer Email": {
      "main": [
        [
          {
            "node": "Analyser avec IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyser avec IA": {
      "main": [
        [
          {
            "node": "Parser Reponse IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser Reponse IA": {
      "main": [
        [
          {
            "node": "Est une Candidature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Est une Candidature": {
      "main": [
        [
          {
            "node": "Enregistrer dans Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reponse Autre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enregistrer dans Sheets": {
      "main": [
        [
          {
            "node": "Reponse IA Candidat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reponse IA Candidat": {
      "main": [
        [
          {
            "node": "Notifier Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "id": "tp-n8n-assistant-candidatures-ia",
  "tags": [
    {
      "createdAt": "2026-06-10T00:00:00.000Z",
      "updatedAt": "2026-06-10T00:00:00.000Z",
      "id": "1",
      "name": "TP n8n"
    }
  ]
}
